body{
    margin:0;
    height:100%
}

#container{
    display: flex;
    flex-direction: column-reverse;
    position:absolute;
    width:100%; height:100%;
    background-color: rgb(51, 51, 51);
}

#nav{
    flex-shrink: 0;
}

@media only screen and (max-width: 900px){
    #nav{
        height:10%;
        width:100%;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    #content{
        align-self:center;
        width:90%;
        height:100%;
        padding: 5% 0px;
    }

    #paper{
        height:100%;
        width:100%;
        background-color: white;
        border-radius:5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}

@media only screen and (min-width: 900px){
    #container{
        flex-direction: row;
    }

    #nav{
        height:100%;
        width: 120px;
        background-color: white;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }

    #content{
        width:100%;
        height:95%;
        align-self:center;
    }

    #paper{
        margin:auto;
        height:100%;
        width:60%;
        background-color: white;
        border-radius:5px;
        box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
}

@media only screen and (min-width: 1300px){
    #paper{
        width:750px;
    }
}

@media only screen and (min-width: 2000px){
    #paper{
        width:900px;
    }
}