html, body {
	margin:0;
	overflow: hidden;
}

body {
	font-family: "Merriweather";
	background: #f5f5f5;
	padding:0;
	height: 100%;
	width: 100%
}


@media only screen and (max-width: 1023px) {
	.content {
		width: 80%;
		min-height: 100%;
	}
	
	#navbar {
		position: fixed;
		width: 100%;
		height: auto;
	}
	
	.header {
		height: 80px;
		width: 100%;
		background: #fff;
	}
	
	.tab {
		height: 30px;
		width: 100%;
		background: #fff;
	}

	.tab .active {
		
	}

	.tablinks {
		
	}

	button {
		
	}

	button:focus {
	    outline:none;
	}

	.container {
		
	}

	.container content-div {
		
	}	
}
