html, body {
	margin:0;
	text-align:justify;
	font-family:"Lucida Console", Monaco, monospace;
}

.text {
	background:#61C6FB;
	margin-bottom:16px;
}

.text h1, .text h2, .text h3 {
	margin-top: none;
	margin-block-start: none;
}