html, body {
	margin:0;
	font-family:"Lucida Console", Monaco, monospace;
}

.output {
    display: inline-block;
    background: #DDD;
    padding: 5px;
    margin: 5px;
    width: 20px;
    height: 20px;
    text-align: center;
}