html, body {
	margin:0;
	font-family:"Lucida Console", Monaco, monospace;
}

#container {
		width: auto;
		background: #f5f5f5;
		margin: auto;
		
}

#numbercontainer {
	padding:5px;
	width:auto;
}

.output {
    display: inline-block;
    background: #DDD;
    padding: 5px;
    margin:0;
    width: 20px;
    height: 20px;
    text-align: center;
}

#create {
	display: inline-block;
    background: #DDD;
	height: 30px;
	width:100px;
    padding: 5px;
    margin: 5px;
    text-align: center;	
}